<main class="flex flex-col gap-8 items-center justify-center min-h-screen">
  <h1 class="font-bold text-3xl">
    <a routerLink="/"> Angulas </a>
  </h1>
  <nav class="flex gap-4">
    <a *ngIf="!isLogged" routerLink="/login" routerLinkActive="active">
      <button class="border rounded px-4 py-2 select-none">Login</button>
    </a>
    <a *ngIf="!isLogged" routerLink="/register" routerLinkActive="active">
      <button class="border rounded px-4 py-2 select-none">Register</button>
    </a>
    <a *ngIf="isLogged" routerLink="/profile" routerLinkActive="active">
      <button class="border rounded px-4 py-2 select-none">Profile</button>
    </a>
    <button
      (click)="logout()"
      *ngIf="isLogged"
      class="border rounded px-4 py-2 select-none"
    >
      Logout
    </button>
  </nav>

  <router-outlet></router-outlet>
</main>

<style>
  .active {
    border: 1px solid blue;
    border-radius: 5px;
  }
</style>
